@model ejemploMVC.Models.Peso
@{
    ViewBag.Title = "Peso";
}

<h2>Peso</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(Model => Model.dato1, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.dato1, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        <input type="submit" value="Convertir" class="btn btn-seccess" />
    </div>

    <br /><br />
    if (ViewBag.resultado != null)
    {
        <p>Kilogramos:&nbsp;@ViewBag.resultado</p>
    }


    <br /><br />
    if (ViewBag.libra != null)
    {
        <p>Libras:&nbsp;@ViewBag.libra</p>
    }
}