@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Jessica Elizabeth Martinez Martinez 25-1232-2019
    </div>
</body>
</html>
