@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    Jonathan Dagoberto Orellana MAedrano
        2539042019 
        Programacion I
    </div>
</body>
</html>
