@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <section>
        Nombre:Stefanie Melany Zelaya Lopez<br/>
        Materia: ProgramacionII<br/>
        Carnet:1714062014<br/>
    </section>
        
    
</body>
</html>
